body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1272px;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1272px;
}
#u913 {
  position:absolute;
  left:2px;
  top:628px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
}
#u915 {
  position:absolute;
  left:2px;
  top:17px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u916 {
  position:absolute;
  left:269px;
  top:10px;
  width:150px;
  height:35px;
}
#u917 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:443px;
  top:10px;
  width:427px;
  height:26px;
}
#u919 {
  position:absolute;
  left:2px;
  top:5px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:1030px;
  top:7px;
  width:41px;
  height:29px;
}
#u921 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:1106px;
  top:16px;
  width:53px;
  height:18px;
}
#u923 {
  position:absolute;
  left:2px;
  top:1px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u924 {
  position:absolute;
  left:1112px;
  top:17px;
  width:43px;
  height:16px;
  color:#AEAEAE;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#9966FF;
}
#u926 {
  position:absolute;
  left:469px;
  top:18px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#9966FF;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u928 {
  position:absolute;
  left:569px;
  top:18px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1136px;
}
#u930 {
  position:absolute;
  left:0px;
  top:50px;
  width:1440px;
  height:1136px;
}
#u931 {
  position:absolute;
  left:2px;
  top:560px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:21px;
}
#u932 {
  position:absolute;
  left:557px;
  top:1242px;
  width:343px;
  height:21px;
}
#u933 {
  position:absolute;
  left:2px;
  top:2px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934 {
  position:absolute;
  left:1071px;
  top:7px;
  width:121px;
  height:145px;
  overflow:hidden;
}
#u934_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:145px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u934_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:118px;
}
#u935 {
  position:absolute;
  left:10px;
  top:30px;
  width:100px;
  height:108px;
}
#u936 {
  position:absolute;
  left:2px;
  top:46px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937 {
  position:absolute;
  left:10px;
  top:7px;
  width:100px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u938 {
  position:absolute;
  left:110px;
  top:0px;
  width:11px;
  height:145px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u939 {
  position:absolute;
  left:10px;
  top:138px;
  width:100px;
  height:7px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:145px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u941 {
  position:absolute;
  left:10px;
  top:0px;
  width:100px;
  height:7px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:617px;
}
#u942 {
  position:absolute;
  left:287px;
  top:344px;
  width:866px;
  height:617px;
}
#u943 {
  position:absolute;
  left:2px;
  top:300px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944 {
  position:absolute;
  left:506px;
  top:420px;
  width:428px;
  height:45px;
}
#u944_input {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#A1A1A1;
}
#u945 {
  position:absolute;
  left:397px;
  top:425px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#A1A1A1;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u947 {
  position:absolute;
  left:506px;
  top:504px;
  width:428px;
  height:45px;
}
#u947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#A1A1A1;
}
#u948 {
  position:absolute;
  left:397px;
  top:509px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#A1A1A1;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u950 {
  position:absolute;
  left:506px;
  top:593px;
  width:428px;
  height:45px;
}
#u950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#A1A1A1;
}
#u951 {
  position:absolute;
  left:397px;
  top:598px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#A1A1A1;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u953 {
  position:absolute;
  left:506px;
  top:673px;
  width:428px;
  height:45px;
}
#u953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#A1A1A1;
}
#u954 {
  position:absolute;
  left:397px;
  top:678px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#A1A1A1;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u956 {
  position:absolute;
  left:506px;
  top:753px;
  width:428px;
  height:45px;
}
#u956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#A1A1A1;
}
#u957 {
  position:absolute;
  left:397px;
  top:758px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#A1A1A1;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FF0000;
}
#u959 {
  position:absolute;
  left:372px;
  top:432px;
  width:15px;
  height:26px;
  font-size:36px;
  color:#FF0000;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FF0000;
}
#u961 {
  position:absolute;
  left:372px;
  top:514px;
  width:15px;
  height:26px;
  font-size:36px;
  color:#FF0000;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FF0000;
}
#u963 {
  position:absolute;
  left:372px;
  top:603px;
  width:15px;
  height:26px;
  font-size:36px;
  color:#FF0000;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u965 {
  position:absolute;
  left:541px;
  top:870px;
  width:138px;
  height:46px;
  font-size:18px;
}
#u966 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:46px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u967 {
  position:absolute;
  left:762px;
  top:870px;
  width:138px;
  height:46px;
  font-size:18px;
  color:#FFFFFF;
}
#u968 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u969 {
  position:absolute;
  left:541px;
  top:870px;
  width:138px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u970 {
  position:absolute;
  left:762px;
  top:870px;
  width:138px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:220px;
}
#u971 {
  position:absolute;
  left:287px;
  top:108px;
  width:866px;
  height:220px;
}
#u972 {
  position:absolute;
  left:2px;
  top:102px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:151px;
}
#u973 {
  position:absolute;
  left:327px;
  top:129px;
  width:585px;
  height:151px;
}
#u974 {
  position:absolute;
  left:2px;
  top:68px;
  width:581px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u975 {
  position:absolute;
  left:327px;
  top:297px;
  width:71px;
  height:16px;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
